:host {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}